<a href="https://colab.research.google.com/github/beafreitasx/Aprendendo-Data-Science/blob/master/An%C3%A1lise_de_Dados_com_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Módulo 2

##RSTUDIO##

comentando o código

In [ ]:
#isto é um comentário

Comando para saber a função da documentação

In [ ]:
?print

Instalando pacotes

In [ ]:
#instalar
install.packages("ggplot2")
#carregar pacote
library(ggplot2)

 Estrutura de dados: vetor (Armazena um conjunto de valores ordenados chamados de elementos. Todos os elementos de um vetor devem ser do mesmo tipo).

In [ ]:
#vetores
cidade <- c("Brasília",
            "São Paulo",
            "Rio de Janeiro",
            "Porto Alegre")

cidade

temperatura <- c(32, 22, 35, 17)

região <- c(1,2, 2, 3)

#acessando o primeiro elemento
cidade [1]

#acessando um intervalo de elementos (1 a 3)
temperatura [1:3]

#copiando um vetor
cidade2 <- cidade
cidade2

#Excluindo o segundo elemento da consulta
temperatura [-2]

#alterando um elemento
cidade [3] <- "Belo Horizonte"
cidade

#adicionar um novo elemento
cidade [5] <- "Salvador"
cidade 

região [5] <- "4"
região

#excluindo um vetor
# cidade <- NULL

[1] "Brasília"       "São Paulo"      "Rio de Janeiro" "Porto Alegre"

[1] "Brasília"

[1] 32 22 35

[1] "Brasília"       "São Paulo"      "Rio de Janeiro" "Porto Alegre"

[1] 32 35 17

[1] "Brasília"       "São Paulo"      "Belo Horizonte" "Porto Alegre"

[1] "Brasília"       "São Paulo"      "Belo Horizonte" "Porto Alegre"
[5] "Salvador"

[1] "1" "2" "2" "3" "4"

Estrutura de dados: Fator (Armazena valores categóricos (nominal ou ordinal)

In [ ]:
#Fator

UF <- factor (c("DF", "SP", "RJ", "RS"))
UF

grau.instrucao <- factor (c("Nível Médio", 
                            "Superior", 
                            "Nível Médio", 
                            "Fundamental"))
                levels = c("Fundamental",
                            "Nível Médio",
                            "Superior")
                ordered = TRUE

grau.instrucao

Estrutura de dados:  lista (tipo especial de vetor)

In [ ]:
pessoas <- list(sexo = "M", cidade = "Brasília", idade = 20)

pessoas

#acessar o primeiro elemento da lista
pessoas[1]

#acessar o valor do primeiro elemento da lista
pessoas[[1]]

#editando a lista
pessoas[["idade"]] <- 22
pessoas

#deletando um elemento da lista
pessoas[["idade"]] <- NULL
pessoas

#filtrando elementos de uma lista
pessoas[c("cidade", "sexo")]

#listas de listas
cidade <- list(cidade = cidade, temperatura = temperatura, região = região)
cidade

Estrutura de dados: Data Frame (organizar elementos em linhas e colunas, semelhante a uma planilha)

In [ ]:
#Data Frame
#criando um dataframe com vetores

df <- data.frame(cidade, região)
df

#criando um dataframe com listas
df2 <- data.frame(cidade)
df2

#filtrando valores do dataframe
#recuperando valor da linha 1, coluna 2
df[1, 2]

#todas as linhas da primeira coluna 
df[, 1]

#primeira linha e todas as colunas
df[1,]

#selecionar as 3 primeiras linhas
#da primeira e da ultima coluna
df[c(1:3), c(1,2)]

#verificando o nome das colunas
names(df)

#verificando o número de linhas x colunas

dim(df)

#verificando os tipos de dados
str(df)

#acessar uma coluna do dataframe
df$cidade

Estrutura de dados: Matriz (Armazena dados tabulares semelhante ao data frame, porém só aceita um tipo de dado).

In [ ]:
#Matriz

m <- matrix(seq (1:9), nrow = 3)
m

m2 <- matrix(seq (1:25), 
            ncol = 5, 
            byrow = TRUE, 
            dimnames = list(c(seq (1:5)),
                            c('a', 'b', 'c', 'd', 'e')))

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

**Estrutura de Repetição:** For() é utilizada para acessar cada elemento de uma sequência (vetor, coluna de matriz ou data frame matriz).

In [ ]:
#for
#for(valor in sequencia){
#    código}

for (i in seq(12)){
  print(i)}

Estrutura de Repetição: While() é utilizada para repetir uma operação por um determinado número de vezes.

In [3]:
#While
# while(condição){
#       código}

i <- 0
while (i <= 10){
  print(i)
  i = i+1
}

[1] 0
[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

Controle de fluxo: if() executa parte de um código somente se uma condição for exercida, afim de testar consdições e controlar o fluxo do script

In [6]:
#controle de fluxo
# if(condição){
#  código}

x = 70
if (x>0){
  print("número positivo")
}

[1] "número positivo"

Controle de fluxo: else if()

In [10]:
nota = 1
if (nota >= 7){              #condição
  print("Aprovado")
 } else if (nota > 5 && nota < 7){ #"mas se"
   print("Recuperação")
 } else {                    #usado quando nenhuma condição é atendida
   print ("Reprovado")
 }

[1] "Reprovado"

Criar funções

In [ ]:
#Criar funções